._local {
	:global {
		.anchor_wrap {
			right: -160px;
			width: 180px;
		}
	}
}

.fullscreen {
	:global {
		.xgen-form {
			& > .form_wrap {
				max-height: 100vh;
				overflow: scroll;

				&::after {
					content: '';
					display: flex;
					width: 100%;
					height: 60px;
				}
			}
		}
	}
}
