._local {
	margin-top: 18px;

	&.left_content {
		:global {
			.chat_content {
				border-top-right-radius: 0;
			}
		}
	}

	&.right_content {
		:global {
                  ::selection{
                        background-color: white;
                        color: black;
                  }

			.chat_content {
				border-top-left-radius: 0;
				background-color: var(--color_main);
				color: white;

                        
			}
		}
	}

	:global {
		.chat_content {
			padding: 12px;
			font-size: 13px;
			background-color: var(--color_bg_nav);
			border-radius: 12px;
			white-space: pre-wrap;
			word-break: break-all;
			overflow-x: scroll;
		}

		.confirm_wrap {
			padding-top: 12px;

                  .text{
                        width: calc(100% - 60px);
                  }

			.btn_yes {
                        width: 60px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
