._local {
	margin-top: 18px;

	&.left_content {
		:global {
			.chat_content {
				padding-bottom: 0;
				border-top-right-radius: 0;
			}
		}
	}

	&.right_content {
		:global {
			.chat_content {
				border-top-left-radius: 0;
				background-color: var(--color_main);
				color: white;
			}
		}
	}

	:global {
		.chat_content {
			padding: 12px;
			font-size: 13px;
			background-color: var(--color_bg_nav);
			border-radius: 12px;
                  white-space: pre-wrap;
                  word-break: break-all;
		}

		.confirm_wrap {
			padding-bottom: 12px;

			.btn_yes {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
