{
      "singleQuote": true,
      "trailingComma": "none",
      "printWidth": 120,
      "useTabs": true,
      "semi": false,
      "tabWidth": 6,
      "jsxSingleQuote": true,
      "bracketSpacing": true,
      "overrides": [
            {
                  "files": ".prettierrc",
                  "options": {
                        "parser": "json"
                  }
            }
      ]
}