.dark {
	.xgen-table {
		.xgen-table-tbody {
			tr {
				td {
					border-top: 1px solid var(--color_border);
					border-bottom: 1px solid var(--color_border);

					&:first-child {
						border-left: 1px solid var(--color_border);
					}

					&:last-child {
						border-right: 1px solid var(--color_border);
					}
				}
			}
		}
	}
}
