.in_form {
	.xgen-table {
		.xgen-table-thead {
			tr {
				th {
					padding-top: 12px;
					padding-bottom: 12px;
					background-color: transparent !important;

					&:last-child {
						background-color: var(--color_bg_nav) !important;
					}
				}
			}
		}

		.xgen-table-tbody {
			tr {
				td {
					height: auto !important;
					border: none;
					background-color: transparent !important;

					&:first-child,
					&:last-child {
						border: none;
					}

					&:last-child {
						padding-right: 20px;
						background-color: var(--color_bg_nav) !important;
					}
				}
			}
		}
	}
}
