:global {
	.td_popover {
		&.upload {
			.xgen-popover-inner-content {
				width: 405px;
			}

			.form_item_upload_wrap {
				&.text {
					width: 320px;
				}

				&.video {
					width: 320px;

					.xgen-upload-list-picture-card-container {
						width: 100%;
						height: 189px;
					}

					.xgen-upload {
						&.xgen-upload-select-picture-card {
							width: 100%;
							height: 189px;
						}
					}
				}
			}
		}

		&.dynamic_list {
			.xgen-popover-arrow-content {
				background-color: var(--color_bg);
			}

			.xgen-popover-inner-content {
				border-radius: 6px;
				background-color: var(--color_bg);

				.xgen-form-item-control {
					border: none;
				}
			}
		}

		.xgen-form-item {
			margin-bottom: 0;
		}

		.xgen-form-item-label {
			display: none;
		}
	}
}
