.barLabel {
	fill: #fff;
	text-anchor: middle;
	font-weight: lighter;
	dominant-baseline: central;
	user-select: none;
	pointer-events: none;
}

.barLabelOutside {
	fill: #555;
	text-anchor: start;
	user-select: none;
	pointer-events: none;
}
