[data-theme='dark'] {
	._local {
		:global {
			.xgen-form-item-control-input {
				.xgen-tree-checkbox-inner {
					background-color: var(--color_bg);
				}

				.xgen-tree-checkbox-checked .xgen-tree-checkbox-inner {
					border-color: var(--color_main);
					background-color: var(--color_main);
				}
			}
		}
	}
}

._local {
	:global {
		.xgen-form-item-control-input {
			.xgen-tree {
				padding: 6px;
				padding-top: 10px;
			}
		}
	}
}
