.ant-input,
.ant-input-number,
.ant-input-affix-wrapper,
.ant-select-selector {
	border: none !important;
}

.anticon {
	&.ant-input-clear-icon {
		color: var(--color_text) !important;
	}
}

.ant-btn {
	&.no_text {
		i {
			margin-right: 0;
		}
	}

	i {
		margin-right: 3px;
	}
}

.ant-message {
	top: initial;
	bottom: 8px;

	.ant-message-notice {
		padding: 8px 16px;
		text-align: right;
	}
}

.ant-mentions {
	textarea {
		background-color: transparent;
	}
}

.ant-modal-mask {
	backdrop-filter: blur(24px);
}
