:root {
	--r: 51;
	--g: 113;
	--b: 252;

	--color_main: #3371fc;
	--color_text: #111;
	--color_title: #333;
	--color_warning: #faad14;
	--color_danger: #e62965;
	--color_placeholder: #727272;
	--color_page_title: #999;
	--color_bg: #f8f9fd;
	--color_bg_nav: #ffffff;
	--color_bg_menu: #ffffff;
	--color_border: whitesmoke;
	--color_border_split: #eee;

	--radius: 6px;
}

[data-theme='dark'] {
      --color_text: #a2a5b9;
	--color_title: #aaaab3;
	--color_warning: #faad14;
	--color_danger: #e62965;
	--color_placeholder: #727272;
	--color_page_title: #999;
	--color_bg: #3b3b41;
	--color_bg_nav: #232326;
	--color_bg_menu: #2f2f34;
	--color_border: #404046;
}
