:root {
      --r:51;
      --g:113;
      --b:252;

	--color_main: #3371fc;
	--color_text: #111;
	--color_title: #333;
	--color_warning: #faad14;
	--color_danger: #e62965;
	--color_placeholder: #727272;
	--color_page_title: #999;
	--color_bg: #f8f9fd;
	--color_bg_nav: #ffffff;
	--color_bg_menu: #ffffff;
	--color_border: #eee;

      --radius:6px;
}
