:global {
	.Tag {
		&:hover {
			opacity: 0.8;
			text-decoration: none;
		}
	}
}

._local {
	margin-right: 0;
	padding: 0 6px;
	padding-top: 3px;
	padding-bottom: 4px;
	font-weight: 500;
	font-size: 12px;
	line-height: 1;
}

._primary {
	background-color: var(--xgen-primary-color);
	border-color: var(--xgen-primary-color);
	color: var(--xgen-primary-1);
}

._danger {
	background-color: var(--xgen-error-color);
	border-color: var(--xgen-error-color);
	color: #ffffff;
}

._success {
	background-color: var(--xgen-success-color);
	border-color: var(--xgen-success-color);
	color: #ffffff;
}

._warning {
	background-color: var(--xgen-warning-color);
	border-color: var(--xgen-warning-color);
	color: #ffffff;
}

._info {
	background-color: var(--xgen-info-color);
	border-color: var(--xgen-info-color);
	color: #ffffff;
}

._title {
	background-color: var(--color_page_title);
	border-color: var(--color_page_title);
	color: #ffffff;
}

._placeholder {
	background-color: var(--color_placeholder);
	border-color: var(--color_placeholder);
	color: #ffffff;
}
