.tooltipDetailsContainer {
	position: absolute;
	display: flex;
	flex-shrink: 0;
	pointer-events: none;
	user-select: none;
}

.tooltipDetailsContainerHidden {
	visibility: hidden;
	position: absolute;
	display: flex;
	pointer-events: none;
}
