@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

[data-theme='dark'] {
	._local {
		:global {
			.chatbox_wrap {
				.header_wrap {
					background-color: rgba(47, 47, 52, 0.9);
				}
			}
		}
	}
}

._local {
	z-index: 1000;
	right: 30px;
	bottom: 30px;

	:global {
		.chatbox_wrap {
			border-radius: 24px;
			background-color: var(--color_bg_menu);
			margin-bottom: 18px;
			box-shadow: var(--shadow);
			overflow: hidden;

			--header_height: 48px;

			.header_wrap {
				height: var(--header_height);
				padding: 0 18px;
				border-bottom: 1px solid var(--color_border_light);
				line-height: 1;
				backdrop-filter: saturate(180%) blur(12px);
				background-color: rgba(255, 255, 255, 0.9);

				.cmd_title {
					font-size: 12px;
					margin-bottom: 3px;
				}

				.cmd_name {
					font-size: 12px;
					color: var(--color_text_grey);
				}

				.btn_exit_cmd {
					font-size: 12px;

					&:hover {
						text-decoration: underline;
					}
				}

				.btn_max {
					width: 24px;
					height: 24px;
					margin-right: -4px;
					border-radius: var(--radius);

					&:hover {
						color: var(--color_main);
						background-color: var(--color_bg_nav);
					}
				}
			}

			.content_wrap {
				flex: 1;
				overflow-y: scroll;

				.chat_contents {
					padding: 18px;
					padding-top: 48px;
					min-height: 100%;
				}

				.btn_stop_wrap {
					margin-top: 18px;

					.icon_stop {
						margin-top: 1px;
					}
				}
			}

			.footer_wrap {
				padding: 9px;
				box-shadow: var(--shadow);
				background-color: var(--color_bg_menu);

				.input_chat {
					padding-left: 18px;
					padding-right: 32px;
					border-radius: 38px;
					background-color: var(--color_bg_nav);
					line-height: 24px;

					&.resized {
						border-radius: 16px;
					}
				}

				.btn_submit {
					right: 15px;
					height: 24px;
					padding: 0 9px;
					border-radius: 24px;

					&:hover {
						background-color: var(--color_main);
						color: white;
					}
				}

				.loading_wrap {
					.loading_dot {
						width: 4px;
						height: 4px;
						margin: 0 1px;
						border-radius: 50%;
						background-color: var(--color_text_grey);

						&:nth-child(1) {
							animation-delay: 0.2s;
						}

						&:nth-child(2) {
							animation-delay: 0.4s;
						}

						&:nth-child(3) {
							animation-delay: 0.6s;
						}

						:local {
							animation: pulse 1.5s infinite;
						}
					}
				}
			}
		}

		.btn_chat {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: var(--color_bg_menu);
			box-shadow: var(--shadow);

			svg {
				fill: var(--color_main);
			}
		}
	}
}

.commands_popover {
	:global {
		.xgen-popover-inner-content {
			padding: 0;
		}
	}
}

.commands {
	padding: 8px;
	overflow-y: scroll;

	:global {
		.command_item_wrap {
			background-color: var(--color_bg_nav);
			padding: 6px 8px;
			margin-bottom: 6px;
			border-radius: var(--radius);

			&:hover {
				background-color: var(--color_bg);
			}

			&:last-child {
				margin-bottom: 0;
			}

			.command_use {
				color: var(--color_main);
				font-weight: bold;
			}

			.command_name {
				margin-right: 6px;
			}

			.command_desc {
				color: var(--color_text_grey);
				font-size: 12px;
			}
		}
	}
}
