:root {
	--r: 51;
	--g: 113;
	--b: 252;

	--h: 221;
	--s: 97.1%;
	--l: 59.4%;

	--color_main: #3371fc;
	--color_primary: #3371fc;
	--color_main_hover: #4580ff;
	--color_main_active: #2861e6;

	--color_text: #111;
	--color_text_grey: #999;
	--color_text_light: #666;
	--color_text_contrast: black;
	--color_title: #363636;
	--color_title_grey: #a9abac;

	--color_warning: #faad14;
	--color_warning_bg: #fff7e6;
	--color_success: #00c853;
	--color_success_bg: #f6ffed;
	--color_danger: #e62965;
	--color_danger_bg: #fff1f0;
	--color_info: #3371fc;
	--color_info_bg: #e6f7ff;

	--color_placeholder: #727272;
	--color_page_title: #363636;
	--color_bg: #f0f0f0;
	--color_bg_light: rgba(255, 255, 255, 0.618);
	--color_bg_nav: #f9f9f9;
	--color_bg_nav_hover: #efefef;
	--color_bg_menu: #ffffff;
	--color_bg_hover: #f5f5f5;
	--color_bg_active: #e6e6e6;

	--color_border: #e6e6e6;
	--color_border_light: rgba(0, 0, 0, 0.06);
	--color_border_soft: rgba(0, 0, 0, 0.03);
	--color_dot: rgba(0, 0, 0, 0.12);

	--shadow: 0 0 30px rgba(0, 0, 0, 0.081);

	--radius: 6px;

	--fontsize: 14px;

	--base_height: 38px;
	--max_width: 1200px;
	--setting_width: 720px;
}

[data-theme='dark'] {
	--r: 69;
	--g: 128;
	--b: 255;

	--h: 221;
	--s: 100%;
	--l: 63.5%;

	--color_main: #4580ff;
	--color_primary: #4580ff;
	--color_main_hover: #5590ff;
	--color_main_active: #3470ef;

	--color_text: #a2a5b9;
	--color_text_grey: #aaa;
	--color_text_light: #888;
	--color_text_contrast: white;
	--color_title: #aaaab3;
	--color_title_grey: #888890;

	--color_warning: #faad14;
	--color_warning_bg: rgba(250, 173, 20, 0.15);
	--color_success: #00c853;
	--color_success_bg: rgba(0, 200, 83, 0.15);
	--color_danger: #e62965;
	--color_danger_bg: rgba(230, 41, 101, 0.15);
	--color_info: #4580ff;
	--color_info_bg: rgba(69, 128, 255, 0.15);

	--color_placeholder: #727272;
	--color_page_title: #999;
	--color_bg: #3b3b41;
	--color_bg_light: rgba(47, 47, 52, 0.618);
	--color_bg_nav: #232326;
	--color_bg_nav_hover: #121212;
	--color_bg_menu: #2f2f34;
	--color_bg_hover: #444449;
	--color_bg_active: #4d4d53;

	--color_border: #404046;
	--color_border_light: rgba(255, 255, 255, 0.06);
	--color_border_soft: rgba(255, 255, 255, 0.03);
	--color_dot: rgba(255, 255, 255, 0.12);

	--shadow: 0 0 30px rgba(255, 255, 255, 0.06);
}
