:root {
	--r: 51;
	--g: 113;
	--b: 252;

	--h: 221;
	--s: 97.1%;
	--l: 59.4%;

	--color_main: #3371fc;
	--color_text: #111;
	--color_text_grey: #999;
	--color_text_contrast: black;
	--color_title: #363636;
	--color_title_grey: #a9abac;
	--color_warning: #faad14;
	--color_success: #00c853;
	--color_danger: #e62965;
	--color_placeholder: #727272;
	--color_page_title: #363636;
	--color_bg: #f0f0f0;
	--color_bg_nav: #f9f9f9;
	--color_bg_menu: #ffffff;
	--color_border: #e6e6e6;
	--color_border_light: rgba(0, 0, 0, 0.06);
	--color_border_soft: rgba(0, 0, 0, 0.03);
	--color_dot: rgba(0, 0, 0, 0.12);

	--shadow: 0 0 30px rgba(0, 0, 0, 0.081);

	--radius: 6px;

	--fontsize: 14px;

	--base_height: 38px;
	--max_width: 1200px;
	--setting_width: 720px;
}

[data-theme='dark'] {
	--r: 69;
	--g: 128;
	--b: 255;

	--h: 221;
	--s: 100%;
	--l: 63.5%;

	--color_main: #4580ff;
	--color_text: #a2a5b9;
	--color_text_grey: #aaa;
	--color_text_contrast: white;
	--color_title: #aaaab3;
	--color_placeholder: #727272;
	--color_page_title: #999;
	--color_bg: #3b3b41;
	--color_bg_nav: #232326;
	--color_bg_menu: #2f2f34;
	--color_border: #404046;
	--color_border_light: rgba(255, 255, 255, 0.06);
	--color_border_soft: rgba(255, 255, 255, 0.03);
	--color_dot: rgba(255, 255, 255, 0.12);

	--shadow: 0 0 30px rgba(255, 255, 255, 0.06);
}
