.confirm {
	padding: 12px;
	background: var(--color_bg_menu);
	border-radius: var(--radius);
	border: 1px solid var(--color_border_light);

	.header {
		margin-bottom: 16px;

		.title {
			font-size: 14px;
			font-weight: 500;
			color: var(--color_title);
			margin-bottom: 4px;
		}

		.description {
			font-size: 12px;
			color: var(--color_text_light);
		}
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		gap: 8px;
		flex-wrap: wrap;

		.button {
			display: inline-flex;
			align-items: center;
			gap: 6px;
			padding: 4px 12px;
			border-radius: var(--radius);
			font-size: 12px;
			cursor: pointer;
			transition: all 0.2s ease;
			border: 1px solid var(--color_border_light);
			min-width: 70px;
			justify-content: center;

			i {
				display: flex;
				align-items: center;
				font-size: 12px;
			}

			&.default {
				background: var(--color_bg_light);
				color: var(--color_text);

				&:hover {
					background: var(--color_bg_hover);
				}
			}

			&.primary {
				background: var(--color_main);
				color: white;
				border: none;

				&:hover {
					filter: brightness(1.1);
				}
			}

			&.success {
				background: var(--color_success);
				color: white;
				border: none;

				&:hover {
					filter: brightness(1.1);
				}
			}

			&.danger {
				background: var(--color_danger);
				color: white;
				border: none;

				&:hover {
					filter: brightness(1.1);
				}
			}
		}
	}
}
