._local  .vds-menu-button,
._local  .vds-seek-button {
  display: none;
}
._local  .vds-button {
  color: var(--color_text);
  height: 24px;
  width: 24px;
}
._local  .vds-play-button {
  color: var(--color_bg);
  background-color: var(--color_text);
}
._local  .vds-title-text {
  color: var(--color_title);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  animation: none;
}
._local  .vds-audio-layout {
  height: 52px;
}
._local  .layout {
  background: var(--color_bg_nav);
  padding: 11px;
}
