._local {
  border: 1px dashed var(--color_warning) !important;
  border-top: none !important;
  color: var(--color_placeholder) !important;
}
._local.has_error {
  border-color: var(--color_danger) !important;
}
._local .progress_wrap {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._local .progress_wrap .progress {
  width: 100%;
  height: 6px;
  min-height: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--color_warning);
}
._local .progress_wrap .progress .bar {
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--color_success);
}
._local .progress_wrap .text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  color: var(--color_placeholder);
  padding-left: 12px;
  padding-right: 12px;
}
._local .progress_wrap .text .percent {
  color: var(--color_text);
  font-size: 20px;
  margin-top: 6px;
}
._local .has_error {
  color: var(--color_danger) !important;
}
._local .has_error .progress {
  background-color: var(--color_danger);
}
._local .has_error .progress .bar {
  background-color: var(--color_danger);
}
._local .has_error .text {
  color: var(--color_danger);
}
._local .has_error .text .percent {
  color: var(--color_danger);
}
