.tag {
	display: inline-flex;
	align-items: center;
	height: 22px;
	padding: 0 8px;
	font-size: 12px;
	line-height: 1;
	border-radius: 4px;
	font-weight: 500;
	white-space: nowrap;
}

.primary {
	background: var(--color_main);
	color: #fff;
}

.success {
	background: var(--color_success);
	color: #fff;
}

.warning {
	background: var(--color_warning);
	color: #fff;
}

.danger {
	background: var(--color_danger);
	color: #fff;
}

.info {
	background: var(--color_info);
	color: #fff;
}
