._local {
	:global {
		.xgen-tabs-card > .xgen-tabs-nav .xgen-tabs-tab,
		.xgen-tabs-card > div > .xgen-tabs-nav .xgen-tabs-tab {
			padding-bottom: 6px;
			padding-top: 6px !important;
			border: none;
		}

		.xgen-tabs-top > .xgen-tabs-nav,
		.xgen-tabs-bottom > .xgen-tabs-nav,
		.xgen-tabs-top > div > .xgen-tabs-nav,
		.xgen-tabs-bottom > div > .xgen-tabs-nav {
			margin: 0;
		}

		.xgen-tabs-top > .xgen-tabs-nav::before,
		.xgen-tabs-bottom > .xgen-tabs-nav::before,
		.xgen-tabs-top > div > .xgen-tabs-nav::before,
		.xgen-tabs-bottom > div > .xgen-tabs-nav::before {
			border-bottom: none;
		}

		.xgen-tabs-card.xgen-tabs-top > .xgen-tabs-nav .xgen-tabs-tab + .xgen-tabs-tab,
		.xgen-tabs-card.xgen-tabs-bottom > .xgen-tabs-nav .xgen-tabs-tab + .xgen-tabs-tab,
		.xgen-tabs-card.xgen-tabs-top > div > .xgen-tabs-nav .xgen-tabs-tab + .xgen-tabs-tab,
		.xgen-tabs-card.xgen-tabs-bottom > div > .xgen-tabs-nav .xgen-tabs-tab + .xgen-tabs-tab {
			margin-left: 4px;
		}

		.hideTabs {
			.xgen-tabs-nav .xgen-tabs-nav-wrap {
				display: none;
			}

			.builder {
				border-top-left-radius: var(--radius);
			}
		}

		.xgen-tabs-nav-wrap {
			border-bottom: 1px solid var(--color_border_soft);
			height: 42px;

			.xgen-tabs-nav-add {
				border: none;
			}
		}

		background-color: var(--color_bg_menu);
		min-height: 300px;
		border-radius: var(--radius);
		display: flex;

		.loading {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-start;
			padding: 40px;
			background-color: var(--color_bg_nav);
		}

		.builder {
			background-color: var(--color_bg_nav);
			display: flex;
			border-top-right-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
			border-bottom-right-radius: var(--radius);
		}

		.head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 12px;
			background: var(--color_bg);
			border-radius: var(--radius);
			color: var(--color_title);

			.title {
				font-size: 14px;
				font-weight: 500;
				width: 100%;
				height: 38px;
				display: flex;
				margin-left: 12px;
				align-items: center;
				cursor: pointer;
			}

			.title:hover {
				color: var(--color_main);
			}

			.actions {
				display: flex;
				justify-content: flex-end;
				width: 200px;
				align-items: center;
			}
		}

		.title-bar {
			transition: width 0.3s ease;
		}

		.toggle-sidebar {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: var(--color_bg);
			border-top-right-radius: var(--radius);
			border-bottom-right-radius: var(--radius);
			height: 32px;
			width: 16px;
			transition: background-color 0.3s;
			right: -16px;
			z-index: 1;

			&:hover {
				background: var(--color_bg_menu);
			}
		}

		.sidebar {
			display: flex;
			flex-direction: column;
			width: 200px;
			border-right: 1px solid var(--color_border_soft);
			margin: 12px 0;
			overflow: hidden;
			transition: width 0.3s ease;

			&.collapsed {
				width: 0;
				border-right: none;
			}

			.content {
				overflow-y: auto;
				flex: 1;
				&::-webkit-scrollbar {
					width: 6px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: var(--color_title_grey);
					border-radius: 3px;
				}

				&::-webkit-scrollbar-thumb:hover {
					background-color: var(--color_title);
				}
			}

			.item {
				padding: 8px 12px;
				margin: 0 12px;
				cursor: pointer;
				border-radius: var(--radius);
				background-color: var(--color_bg);
				margin-bottom: 8px;
				transition: background-color 0.3s;
				height: 42px;
				cursor: move;
				font-size: 12px;
				font-weight: 500;
				display: flex;
				align-items: center;
				overflow: hidden;

				.label {
					white-space: nowrap;
					overflow: hidden;
				}

				&:hover {
					background-color: var(--color_bg_menu);
					color: var(--color_main);
				}
			}
		}
	}
}

._fullscreen {
	:global {
		background: var(--color_bg_menu) !important;

		.xgen-tabs-card.xgen-tabs-top > .xgen-tabs-nav .xgen-tabs-tab,
		.xgen-tabs-card.xgen-tabs-top > div > .xgen-tabs-nav .xgen-tabs-tab,
		.xgen-tabs-card.xgen-tabs-top > .xgen-tabs-nav .xgen-tabs-tab-active,
		.xgen-tabs > .xgen-tabs-nav .xgen-tabs-nav-add,
		.xgen-tabs > div > .xgen-tabs-nav .xgen-tabs-nav-add,
		.xgen-tabs-card.xgen-tabs-top > div > .xgen-tabs-nav .xgen-tabs-tab-active {
			border-radius: 0 !important;
		}
	}
}
