._local {
	margin-left: 320px;
	width: calc(100vw - 80px - 240px);

	&.no_menu {
		margin-left: 80px;
		width: calc(100vw - 80px);
	}

	&.no_nav {
		margin-left: 0;
		width: 100vw;
	}

	&.iframe {
		padding-bottom: 0;
	}
}

._local_showname {
	margin-left: 320px;
	width: calc(100vw - 92px - 228px);

	&.no_menu {
		margin-left: 92px;
		width: calc(100vw - 92px);
	}

	&.no_nav {
		margin-left: 0;
		width: 100vw;
	}

	&.iframe {
		padding-bottom: 0;
	}
}
