._local {
	:global {
		font-size: 12px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 16px;
		font-weight: 800;
		width: 100%;

		.item-label {
			font-size: 12px;
			font-weight: 500;
			width: auto;
			max-width: 160px;
			min-width: 60px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			width: auto;
			margin-bottom: 2px;
		}

		.item-label:focus {
			color: #ff6600;
		}

		.xgen-input {
			font-size: 12px;
			height: 36px;
			margin: 5px 0;
		}
	}
}
