@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

._local {
	z-index: 1000;
	right: 30px;
	bottom: 30px;

	:global {
		.chatbox_wrap {
			width: 360px;
			height: 480px;
			border-radius: 24px;
			background-color: var(--color_bg_menu);
			margin-bottom: 18px;
			box-shadow: var(--shadow);
			overflow: hidden;

			.chatbox_transition_wrap {
				width: 360px;
				height: 480px;
			}

			--header_height: 48px;

			.header_wrap {
				height: var(--header_height);
				padding: 0 18px;
				border-bottom: 1px solid var(--color_border_light);
			}

			.content_wrap {
				flex: 1;
				overflow-y: scroll;

				.chat_contents {
					padding: 18px;
					min-height: 100%;
				}
			}

			.footer_wrap {
				padding: 9px;
				box-shadow: var(--shadow);
                        background-color: var(--color_bg_menu);

				.input_chat {
					padding-left: 18px;
					padding-right: 32px;
					border-radius: 38px;
					background-color: var(--color_bg_nav);
                              line-height: 24px;
				}

				.btn_submit {
					right: 15px;
					height: 24px;
					padding: 0 9px;
					border-radius: 24px;

					&:hover {
						background-color: var(--color_main);
						color: white;
					}
				}

				.loading_wrap {
					.loading_dot {
						width: 4px;
						height: 4px;
						margin: 0 1px;
						border-radius: 50%;
						background-color: var(--color_text_grey);

						&:nth-child(1) {
							animation-delay: 0.2s;
						}

						&:nth-child(2) {
							animation-delay: 0.4s;
						}

						&:nth-child(3) {
							animation-delay: 0.6s;
						}

						:local {
							animation: pulse 1.5s infinite;
						}
					}
				}
			}
		}

		.btn_chat {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: var(--color_bg_menu);
			box-shadow: var(--shadow);

			svg {
				fill: var(--color_main);
			}
		}
	}
}
