.xgen-input,
.xgen-input-number,
.xgen-input-affix-wrapper,
.xgen-select-selector {
  border: none !important;
}
.anticon.xgen-input-clear-icon {
  color: var(--color_text) !important;
}
.xgen-btn.no_text i {
  margin-right: 0;
}
.xgen-btn i {
  margin-right: 3px;
}
.important_message {
  top: initial;
  bottom: 8px;
}
.important_message .xgen-message-notice {
  padding: 8px 16px;
  text-align: right;
}
.important_message .xgen-message-notice-content {
  border: 1px solid var(--color_border);
}
.xgen-message {
  top: initial !important;
  bottom: 8px !important;
}
.xgen-message .xgen-message-notice {
  padding: 8px 16px !important;
  text-align: right !important;
}
.xgen-message .xgen-message-notice-content {
  border: 1px solid var(--color_border) !important;
}
.xgen-mentions textarea {
  background-color: transparent !important;
}
[data-theme='dark'] .xgen-modal-mask {
  background-color: rgba(0, 0, 0, 0.6);
}
[data-theme='dark'] .custom_modal .xgen-modal-header {
  background-color: rgba(255, 255, 255, 0.03);
}
.xgen-modal-mask {
  backdrop-filter: blur(24px);
}
.custom_modal .xgen-modal-title {
  color: var(--color_text);
  font-size: 15px;
}
.custom_modal .xgen-modal-close {
  color: var(--color_text_grey);
}
.custom_modal .xgen-modal-close:hover {
  color: var(--color_text_contrast);
}
.custom_modal .xgen-modal-header {
  padding: 16px 20px;
  border-bottom: 1px solid var(--color_border_soft);
  background-color: rgba(0, 0, 0, 0.01);
}
.custom_modal .xgen-modal-content {
  overflow: hidden;
  border-radius: var(--radius);
}
.custom_modal .xgen-modal-body {
  padding: 0;
}
[data-theme='dark'] .xgen-popover .xgen-popover-arrow .xgen-popover-arrow-content {
  background-color: var(--color_bg_nav);
}
[data-theme='dark'] .xgen-popover .xgen-popover-inner {
  background-color: var(--color_bg_nav);
}
.xgen-popover .xgen-popover-arrow {
  overflow: visible;
}
.xgen-popover .xgen-popover-arrow .xgen-popover-arrow-content {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--color_bg_menu);
  box-shadow: var(--shadow);
}
.xgen-popover .xgen-popover-arrow .xgen-popover-arrow-content::before {
  display: none;
}
.xgen-popover .xgen-popover-inner {
  background-color: var(--color_bg_menu);
}
.xgen-tooltip .xgen-tooltip-arrow .xgen-tooltip-arrow-content {
  box-shadow: var(--shadow);
}
.xgen-pagination {
  position: relative;
}
.xgen-pagination .xgen-pagination-options {
  position: absolute;
  left: 0;
  margin: 0;
}
.xgen-pagination .xgen-pagination-total-text {
  margin-right: 15px;
}
.xgen-form-item .xgen-form-item-control-input {
  border-radius: var(--radius);
  background-color: var(--color_bg_nav);
}
.xgen-picker-panel-container {
  background-color: var(--color_bg_menu) !important;
}
.xgen-picker-panel-container .xgen-picker-panel {
  border-bottom: none;
}
[data-theme='dark'] .xgen-select-dropdown {
  background-color: var(--color_bg_nav) !important;
}
.xgen-select-dropdown {
  padding: 0 !important;
  background-color: var(--color_bg_menu) !important;
}
