._local {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	:global {
		.logo {
			width: 36%;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0.9;

			&.img {
				width: 36%;
				height: initial;
			}
		}
	}
}
