.tool {
	color: var(--color_text_grey);
	font-size: 12px;
	display: flex;
	gap: 4px;
	align-items: center;
	min-height: 24px;
	transition: color 0.2s;
	flex: 1;
}

.tool_done {
	color: var(--color_text_grey);
	font-size: 12px;
	display: flex;
	gap: 4px;
	align-items: center;
	min-height: 24px;
	cursor: pointer;
	transition: color 0.2s;
	flex: 1;

	&:hover {
		color: var(--color_primary);
	}
}

.icon {
	color: inherit;
	display: flex;
	align-items: center;
	line-height: 1;
}

.arrowIcon {
	color: var(--color_text_grey);
	margin-left: auto;
	transition: color 0.2s;
	line-height: 1;
}

.actions {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 8px;
}

.placeholder {
	color: var(--color_text_grey);
}

.dots {
	min-width: 20px;
	display: inline-block;
}

.logButton {
	margin-left: auto;
}
