[data-theme='dark'] {
      ._local{
            :global{
                  .form_wrap{
                        .xgen-input-affix-wrapper{
                              background-color: var(--color_bg_menu);
                  
                              &::after {
                                    color: #cecece;
                              }
                        }
                  }
            }
      }
}

._local {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	:global {
		.right_wrap {
			width: 640px;
			background-color: var(--color_bg_nav);

                  .top_wrap{
                        padding: 30px;

                        .action_wrap{
                              width: 30px;
                              height: 30px;
                              border-radius: var(--radius);

                              &:hover{
                                    background-color: var(--color_bg);
                                    color: var(--color_text);
                              }
                        }
                  }

			.title_wrap {
				margin-bottom: 60px;

				.title {
					font-weight: bold;
					font-size: 42px;
				}

				.user_type {
					top: -12px;
					right: -36px;
					padding: 4px 6px;
					border-radius: 24px;
					background-color: var(--color_main);
					font-weight: bold;
					font-size: 12px;
					line-height: 1;
				}
			}
		}

		.form_wrap {
			width: 54%;

			.input_wrap {
				margin-bottom: 16px;

				.img_captcha_code {
					top: 0;
					right: 0;
					z-index: 2;
					box-sizing: border-box;
					width: 32%;
					height: 100%;
					border: 1px solid transparent;
					border-radius: 6px;
					background-color: fade(white, 60%);
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
			}

			.btn_login {
				margin-top: 24px;
				height: 46px;
				font-weight: 600;
			}

			.xgen-input-affix-wrapper {
				position: relative;
				box-sizing: border-box;
				height: 60px !important;
				border: 1px solid transparent;
				background-color: var(--color_bg);

				&::after {
					position: absolute;
					top: 18px;
					left: 40px;
					color: var(--color_text);
					transition: all ease 0.3s;
				}

				&.input_mobile {
					&.en {
						&::after {
							content: 'Account';
						}
					}

					&::after {
						content: '账号';
					}
				}

				&.input_password {
					&.en {
						&::after {
							content: 'Password';
						}
					}

					&::after {
						content: '密码';
					}
				}

				&.input_captcha_code {
					width: 64%;

					&.en {
						&::after {
							content: 'Code';
						}
					}

					&::after {
						content: '验证码';
					}
				}

				&.has_value {
					&::after {
						top: 6px;
						font-size: 11px;
					}
				}

				.xgen-input-prefix {
					padding-right: 5px;

					i {
						color: var(--color_text);
						transition: color ease 0.3s;
					}
				}

				.xgen-input {
					margin-bottom: -12px;
					background-color: transparent;
				}

				&-focused {
					border: 1px solid var(--color_main) !important;
					box-shadow: none !important;

					&::after {
						top: 6px;
						font-size: 11px;
					}

					.xgen-input-prefix {
						i {
							color: var(--color_main) !important;
						}
					}
				}
			}
		}

		.or_wrap {
			margin: 30px 0;

			.line {
				width: 42%;
				height: 1px;
				background-color: fade(black, 6%);
			}
		}

		.third_wrap {
			.btn_third {
				height: 46px;
				border: 1px solid var(--color_border);

				.logo_third {
					left: 30px;
					margin-top: 2px;
					width: 24px;
				}
			}
		}

		.copyright {
			bottom: 24px;
			left: 0;
			font-size: 13px;
			opacity: 0.3;

			a {
				color: var(--color_text);
			}

			&:hover {
				font-weight: bold;
				opacity: 1;

				a {
					color: var(--color_main);
				}
			}
		}
	}
}
