._local {
	:global {
		.label {
			position: absolute;
			padding: 4px 6px;
			border-radius: 5px;
			font-size: 12px;
			font-weight: 500;
			color: var(--color_text);
			background: var(--color_bg_menu);
		}
	}
}
