.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-left: 2px;
	background: var(--color_bg_light);
	// background: rgba(255, 255, 255, 0.3);
	// backdrop-filter: blur(10px);
	// -webkit-backdrop-filter: blur(10px);
}

.mainContent {
	display: flex;
	flex: 1;
	overflow: hidden;
	position: relative;
}

.content {
	flex: 1;
	overflow-y: auto;
	padding: 0;
	min-width: 0;
	position: relative;
	background-color: var(--color_bg);
	border-radius: 16px;
	margin: 16px;
	margin-top: 0;
}

.content_wrapper {
	min-height: 100%;
	padding: 10px 20px;
}
