[data-theme='dark'] {
	._local {
		:global {
			i {
				color: fade(white, 80%);
			}
		}
	}
}

._local {
	height: 60px;

	&.active {
		:global {
			i {
				color: var(--color_main);
			}
		}
	}

	:global {
		i {
			color: var(--color_title_grey);
			transition: color ease 0.3s;
		}

		.xgen-badge {
			&-count {
				min-width: 16px;
				height: 16px;
				line-height: 16px;
				padding: 0 4px;
				color: white;
			}
		}
	}
}

._local_showname {
	height: 64px;

	&.active {
		:global {
			i {
				color: var(--color_main);
			}

			.name {
				color: var(--color_main);
				font-weight: 500;
			}
		}
	}

	:global {
		i {
			color: var(--color_title_grey);
			transition: color ease 0.3s;
		}

		.name {
			font-size: 12px;
			color: var(--color_title_grey);
			text-align: center;
			margin: 0.25em 0;
		}

		.xgen-badge {
			&-count {
				min-width: 16px;
				height: 16px;
				line-height: 16px;
				padding: 0 4px;
				color: white;
			}
		}
	}
}
