._local {
	:global {
		.xgen-select-arrow {
			color: var(--color_text);
		}
	}
}

._dropdown {
	padding: 0;

	:global {
		.xgen-select-item-option-selected:not(.xgen-select-item-option-disabled) {
			background-color: transparent;
			color: var(--color_main);
		}
	}
}
