[data-theme='dark'] {
	._local {
		padding: 6px 11px;
		padding-left: 0;

		:global {
			.xgen-radio-inner.xgen-radio-checked {
				border-color: var(--color_main);
				background-color: var(--color_main);
			}
		}
	}
}

._local {
	:global {
		padding: 6px 11px;
		padding-left: 0;
		height: 36px;

		.xgen-radio-inner {
			background-color: var(--color_bg_menu);
		}

		.xgen-radio-wrapper {
			font-size: 12px;
			font-weight: 500;
		}
	}
}
