._local {
	:global {
		height: 32px;
		.xgen-input-group-wrapper {
			height: 32px;
			position: relative;
		}
		.xgen-input-group-addon {
			background: transparent;
		}
		.xgen-input-search-button {
			color: var(--color_text) !important;
			height: 32px;
			border: none !important;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			box-shadow: none;
			background: transparent;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: var(--radius) !important;
			padding: 0 8px !important;
		}
		.xgen-btn-primary {
			text-shadow: none;
		}
		.xgen-input-search-button:hover {
			color: var(--color_main) !important;
		}
		.xgen-input {
			font-size: 12px;
			height: 32px !important;
			border-radius: var(--radius);
			border-top-right-radius: var(--radius) !important;
			border-bottom-right-radius: var(--radius) !important;
			background: var(--color_bg);
		}
	}
}
