._local {
	:global {
		.vds-menu-button,
		.vds-seek-button {
			display: none;
		}

		.vds-button {
			color: var(--color_text);
			height: 24px;
			width: 24px;
		}
		.vds-play-button {
			color: var(--color_bg);
			background-color: var(--color_text);
		}

		.vds-title-text {
			color: var(--color_title);
			font-family: inherit;
			font-weight: 400;
			font-size: 14px;
			animation: none;
		}

		.vds-audio-layout {
			height: 52px;
		}

		.layout {
			background: var(--color_bg_nav);
			padding: 11px;
		}
	}
}
