._local {
	:global {
		// .vds-menu-button,
		// .vds-seek-button {
		// 	display: none;
		// }

		// .vds-button {
		// 	color: var(--color_text);
		// }
		// .vds-play-button {
		// 	color: var(--color_bg);
		// 	background-color: var(--color_text);
		// }

		// .vds-title-text {
		// 	animation: none;
		// }

		.file_wrap {
			padding: 11px;

			background: var(--color_bg_nav);
			border-radius: 6px;
			filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
			display: flex;
			align-items: center;

			.title {
				color: var(--color_title);
				font-family: inherit;
				font-weight: 400;
				font-size: 14px;
				overflow: hidden;
				word-wrap: break-word;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-left: 0.5em;
			}
		}
	}
}
