._local {
	:global {
		.video_wrap {
			filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
		}

		.vds-menu-button,
		.vds-google-cast-button,
		.vds-seek-button {
			display: none;
		}

		.vds-button {
			color: var(--color_bg);
		}

		.layout {
			background: var(--color_bg_nav);
		}
	}
}
